@inject IStringLocalizer<App> L;
<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">Hotelery</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        @* <MudIconButton Class="text-white" Icon="@Icons.Material.Filled.Menu" Variant="Variant.Text"/> *@
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MudNavMenu Color="Color.Primary" Class="mud-width-full py-3">
        @foreach (var item in Nav)
        {
            @if(item.nav_parentId<=0 && !item.nav_isParent){
        <MudNavLink Href="@item.nav_controller" Icon="@GetIconByText(item.nav_Icon.ToEmptyOnNull())">@L[item.nav_NameOption.ToEmptyOnNull()]</MudNavLink>
            }else if(item.nav_isParent && item.nav_parentId==0)
            {
        <MudNavGroup Title="@L[item.nav_NameOption.ToEmptyOnNull()]" Icon="@GetIconByText(item.nav_Icon.ToEmptyOnNull())">
            @foreach (var item in Nav.Where(x=>x.nav_parentId==item.nav_Id && !x.nav_isParent))
            {
        <MudNavLink Href="@item.nav_controller" Icon="@GetIconByText(item.nav_Icon.ToEmptyOnNull())">@L[item.nav_NameOption.ToEmptyOnNull()]</MudNavLink>
            }
        </MudNavGroup>
            }
            
        }
        @* <MudNavLink Href="/home" Match="NavLinkMatch.Prefix" Icon="@Icons.Filled.Dashboard">Dashboard</MudNavLink>
        <MudNavLink Href="/counter" Icon="@Icons.Filled.Storage">Servers</MudNavLink> *@
        @* <MudNavLink Href="@Routing.config" Icon="@Icons.Filled.Settings">@L["configurations"]</MudNavLink>
        <MudNavGroup @bind-Expanded="_isNavExpanded" Title="User Managment" Icon="@Icons.Filled.AdminPanelSettings">
        <MudNavLink Href="@Routing.userlist" Icon="@Icons.Filled.People">@L["user-list"]</MudNavLink> *@
            @* <MudNavLink Href="/admins" Icon="@Icons.Filled.People">Admins</MudNavLink>
            <MudNavLink Href="/addAdmin" Icon="@Icons.Filled.AddModerator">Add Admin</MudNavLink> *@
            @* <MudNavLink Href="@Routing.roles" Icon="@Icons.Filled.Security">@L["roles"]</MudNavLink>
        </MudNavGroup> *@
        @* <MudNavGroup Title="User Management" Icon="@Icons.Filled.ManageAccounts">
            <MudNavLink Href="/users" Icon="@Icons.Filled.People">Users</MudNavLink>
            <MudNavLink Href="/addUser" Icon="@Icons.Filled.PersonAdd">Add User</MudNavLink>
            <MudNavLink Href="/roles" Icon="@Icons.Filled.Security">Roles</MudNavLink>
        </MudNavGroup> *@
        @* <MudNavGroup Title="Configrations" Icon="@Icons.Filled.Settings">
            <MudNavLink Href="/users" Icon="@Icons.Filled.LocationOn">Workplaces</MudNavLink>
        </MudNavGroup> *@
    </MudNavMenu>
</div>

@code {
    
}
