 @page "/c2VhcmUDSHINo"
@if(report!=null && session!=null){
    <AuthView Roles="session" PermissionName="@Routing.search"></AuthView>
<div class="row gx-2 gy-3">
    <div class="col-12">
        <h4>@L["search"]</h4>
    </div>
    <MudDivider/>
    <MudPaper Outlined="true">
        <MudGrid Spacing="1" Class="w-100 m-0 p-2">
            @* <MudItem sm="3">
                <MudText Typo="Typo.h6">@L["search"]</MudText>
            </MudItem> *@
             <MudItem sm="12" Class="d-flex align-items-center justify-content-end">
                <MudButton OnClick="OpenFilterModal" StartIcon="@Icons.Filled.FilterAlt" Variant="Variant.Filled" Color="Color.Primary" DisableElevation>@L["filter"]</MudButton>
            </MudItem>
            
        </MudGrid>
        <MudTable Outlined="false" Elevation="0" T="GuestDetailsInfo" Dense="true" Hover="true" @ref="table" ServerData="@(new Func<TableState,Task<TableData<GuestDetailsInfo>>>(GetPaginatedItems))" T="HotelsInfo" >
            <HeaderContent>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="GD_Fullname" SortBy="new Func<GuestDetailsInfo, object>(x=>x.GD_Fullname.ToEmptyOnNull())">@L["full-name"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary"> 
                           <div class="p-3">
                            <MudTextField DebounceInterval="ClS_Config.debounce" T="string" Label="@L["full-name"]"
                            OnDebounceIntervalElapsed="@(async(e)=>{Filter.GD_Fullname=e.ToEmptyOnNull();await table!.ReloadServerData();})" @bind-Value="Filter.GD_Fullname" Margin="@Margin.Dense" Variant="Variant.Outlined"></MudTextField>
                            </div>
                         </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="GD_Surname" SortBy="new Func<GuestDetailsInfo, object>(x=>x.GD_Surname.ToEmptyOnNull())">@L["surname"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary"> *@
                            @* <div class="p-3">
                                <MudAutocomplete Clearable T="string" Label="@L["hotel-name"]" @bind-Value="value1" SearchFunc="@Search1" Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"/>
                            </div> *@
                        @* </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="GD_MotherName" SortBy="new Func<GuestDetailsInfo, object>(x=>x.GD_MotherName.ToEmptyOnNull())">@L["mother-name"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary"> 
                           <div class="p-3">
                            <MudTextField DebounceInterval="ClS_Config.debounce" T="string" Label="@L["mother-name"]"
                            OnDebounceIntervalElapsed="@(async(e)=>{Filter.GD_MotherName=e.ToEmptyOnNull();await table!.ReloadServerData();})" @bind-Value="Filter.GD_MotherName" Margin="@Margin.Dense" Variant="Variant.Outlined"></MudTextField>
                            </div>
                         </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="GD_Mobile" SortBy="new Func<GuestDetailsInfo, object>(x=>x.GD_Mobile.ToEmptyOnNull())">@L["mobile-no"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary"> 
                           <div class="p-3">
                            <MudTextField DebounceInterval="ClS_Config.debounce" T="string" Label="@L["mobile-no"]"
                            OnDebounceIntervalElapsed="@(async(e)=>{Filter.GD_Mobile=e.ToEmptyOnNull();await table!.ReloadServerData();})" @bind-Value="Filter.GD_Mobile" Margin="@Margin.Dense" Variant="Variant.Outlined"></MudTextField>
                            </div>
                         </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="GD_IdNumber" SortBy="new Func<GuestDetailsInfo, object>(x=>x.GD_IdNumber.ToEmptyOnNull())">@L["id-no"]</MudTableSortLabel>
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="gen_Name" SortBy="new Func<GuestDetailsInfo, object>(x=>x.gen_Name.ToEmptyOnNull())">@L["gender"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary">
                            <div class="p-3">
                    <MudSelect ToStringFunc="@(e=>e==null?"":e.gen_Name)" 
                            Validation="@(new Func<GenderInfo, string>((e)=>e.ValidateField<GenderInfo>("gen_ID")))"
                            Value="@(new GenderInfo{gen_ID=Filter.GenderID,gen_Name=combos.Genders.SelectByID<GenderInfo>(Filter.GenderID,"gen_ID").gen_Name})" 
                                ValueChanged="OnSelectedGenderChange" Clearable="true"
                                Margin="@Margin.Dense" T="GenderInfo" Label=@L["gender"] Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var item in combos.Genders)
                            {
                            <MudSelectItem T="GenderInfo" Value="@item">@item.gen_Name</MudSelectItem>
                            }
                        </MudSelect>
                            </div>
                        </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="nat_Name" SortBy="new Func<GuestDetailsInfo, object>(x=>x.nat_Name.ToEmptyOnNull())">@L["nationality"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary">
                            <div class="p-3">
                    <MudSelect ToStringFunc="@(e=>e==null?"":e.nat_Name)" 
                            Validation="@(new Func<NationalityInfo, string>((e)=>e.ValidateField<NationalityInfo>("gen_ID")))"
                            Value="@(new NationalityInfo{nat_ID=Filter.NationalityID,nat_Name=combos.Nationalities.SelectByID<NationalityInfo>(Filter.GenderID,"gen_ID").nat_Name})" 
                                ValueChanged="OnSelectedNationalityChange" Clearable="true"
                                Margin="@Margin.Dense" T="NationalityInfo" Label=@L["nationality"] Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">

                            @foreach (var item in combos.Nationalities)
                            {
                            <MudSelectItem T="NationalityInfo" Value="@item">@item.nat_Name</MudSelectItem>
                            }
                        </MudSelect>
                            </div>
                        </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="GD_DOB" SortBy="new Func<GuestDetailsInfo, object>(x=>x.GD_DOB.ToyyyyMMddElseEmpty())">@L["birth-date"]</MudTableSortLabel>                        
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="htl_Name" SortBy="new Func<GuestDetailsInfo, object>(x=>x.htl_Name.ToEmptyOnNull())">@L["hotel"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary">
                            <div class="p-3">
                                <MudAutocomplete T="HotelsInfo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchHotels"
                         Clearable="true"
                         ResetValueOnEmptyText="true"
                         Value="@(new HotelsInfo(){htl_ID=Filter.HotelID,htl_Name=Filter.htl_Name})"
                         Text="@Filter.peo_DirectorateName"
                         ValueChanged="@(async(e)=>await OnHotelChange(e))"
                         ToStringFunc="@(e=>e==null?"":e.htl_Name)"
                         CoerceText="@true"
                         Label=@L["hotel"]
                         Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small" />
                            </div>
                        </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="htl_Address" SortBy="new Func<GuestDetailsInfo, object>(x=>x.htl_Address.ToEmptyOnNull())">@L["address"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary">
                        </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="htf_FloorName" SortBy="new Func<GuestDetailsInfo, object>(x=>x.htf_FloorName.ToEmptyOnNull())">@L["floor"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary">
                        </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="htr_Detail" SortBy="new Func<GuestDetailsInfo, object>(x=>x.htr_Detail.ToEmptyOnNull())">@L["room"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary">
                            <div class="p-3">
                                <MudAutocomplete T="HotelRoomsInfo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchRooms"
                         Clearable="true"
                         ResetValueOnEmptyText="true"
                         Value="@(new HotelRoomsInfo(){htr_ID=Filter.RoomID,htr_Detail=Filter.RoomName})"
                         Text="@Filter.peo_DirectorateName"
                         ValueChanged="@((e)=> OnRoomChange(e))"
                         ToStringFunc="@(e=>e==null?"":e.htr_Detail)"
                         CoerceText="@true"
                         Label=@L["room"]
                         Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small" />
                            </div>
                        </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="GD_CheckIn" SortBy="new Func<GuestDetailsInfo, object>(x=>x.GD_CheckIn.ToyyyyMMddElseEmpty())">@L["check-in"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary">
                        </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="GD_ChechOut" SortBy="new Func<GuestDetailsInfo, object>(x=>x.GD_ChechOut.ToyyyyMMddElseEmpty())">@L["check-out"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary">
                        </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="peo_DirectorateName" SortBy="new Func<GuestDetailsInfo, object>(x=>x.peo_DirectorateName.ToEmptyOnNull())">@L["directory"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary">
                            <div class="p-3">
                                <MudAutocomplete T="DirectorateInfo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchDirectoaret"
                         Clearable="true"
                         ResetValueOnEmptyText="true"
                         Value="@(new DirectorateInfo(){peo_DirectorateName=Filter.peo_DirectorateName,peo_DirectorateID=Filter.DirectorateID})"
                         Text="@Filter.peo_DirectorateName"
                         ValueChanged="@(async(e)=>await OnDirectoarateChange(e))"
                         ToStringFunc="@(e=>e==null?"":e.peo_DirectorateName)"
                         CoerceText="@true"
                         Label=@L["directory"]
                         Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small" />
                            </div>
                        </MudMenu> *@
                    </div>
                </MudTh>
                <MudTh>
                    <div class="d-flex justify-content-between align-items-center">
                        <MudTableSortLabel SortLabel="wp_workpointName" SortBy="new Func<GuestDetailsInfo, object>(x=>x.wp_workpointName.ToEmptyOnNull())">@L["workpoint"]</MudTableSortLabel>
                        @* <MudMenu TransformOrigin="Origin.TopRight" AnchorOrigin="Origin.BottomRight" Size="Size.Small" Icon="@Icons.Filled.FilterAlt" Variant="Variant.Text" Color="Color.Primary">
                            <div class="p-3">
                                <MudAutocomplete T="WorkingPointInfo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchWorkpoint"
                         Clearable="true"
                         ResetValueOnEmptyText="true"
                         Value="@(new WorkingPointInfo(){wp_ID=Filter.WorkplaceID,wp_workpointName=Filter.wp_workpointName})"
                         Text="@Filter.peo_DirectorateName"
                         ValueChanged="@(async(e)=>await OnWorkpointChange(e))"
                         ToStringFunc="@(e=>e==null?"":e.wp_workpointName)"
                         CoerceText="@true"
                         Label=@L["workplace"]
                         Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small" />
                            </div>
                        </MudMenu> *@
                    </div>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.GD_Fullname</MudTd>
                <MudTd>@context.GD_Surname</MudTd>
                <MudTd>@context.GD_MotherName</MudTd>
                <MudTd>@context.GD_Mobile</MudTd>
                <MudTd>@context.GD_IdNumber</MudTd>
                <MudTd>@context.gen_Name</MudTd>
                <MudTd>@context.nat_Name</MudTd>
                <MudTd>@context.GD_DOB.ToddMMyyyyhhmmsstt()</MudTd>
                <MudTd>@context.htl_Name</MudTd>
                <MudTd>@context.htl_Address</MudTd>
                <MudTd>@context.htf_FloorName</MudTd>
                <MudTd>@context.htr_Detail</MudTd>
                <MudTd>@context.GD_CheckIn.ToddMMyyyyhhmmsstt()</MudTd>
                <MudTd>@context.GD_ChechOut.ToddMMyyyyhhmmsstt()</MudTd>
                <MudTd>@context.peo_DirectorateName</MudTd>
                <MudTd>@context.wp_workpointName</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
        </MudTable>
    </MudPaper>
</div> 
}