@page "/addUser/{HashID}"
@inject IStringLocalizer<App> L;

@if(session!=null){
    <AuthView Roles="session" PermissionName="@Routing.adduser">
<div class="row gy-3 gx-2">
    <div class="col-12">
        <h4>@(SelectedUser.peo_UserID>0?SelectedUser.peo_UserName:L["add-user"])</h4>
    </div>
    <div class="col-12">
        <MudTabs Elevation="2" PanelClass="px-3 pb-4 bg-white" Rounded="true" Color="@Color.Primary">
            <MudTabPanel Text="@L["general-info"]">
                <MudForm @ref="AddUserForm">
                <div class="row gy-3 gx-3 m-0 w-100">
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                        <MudTextField OnlyValidateIfDirty="true" Required="true" Margin="@Margin.Dense" Dense="true" @bind-Value="SelectedUser.peo_UserName" Label=@L["name"] Variant="Variant.Outlined"></MudTextField>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                        <MudTextField OnlyValidateIfDirty="true" Required="true" Margin="@Margin.Dense" Dense="true" @bind-Value="SelectedUser.peo_userFullName" Label=@L["full-name"] Variant="Variant.Outlined"></MudTextField>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                            <MudTextField OnlyValidateIfDirty="true" Required="true" Margin="@Margin.Dense" Dense="true" @bind-Value="SelectedUser.peo_UserMobile" Label=@L["mobile"] Variant="Variant.Outlined"></MudTextField>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                        <MudTextField OnlyValidateIfDirty="true" Required="true" autocomplete="new-password" Margin="@Margin.Dense" Dense="true" InputType="InputType.Password" @bind-Value="SelectedUser.peo_UserPassword" Label=@L["password"] Variant="Variant.Outlined"></MudTextField>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                        <MudSelect OnlyValidateIfDirty="true" Required="true" RequiredError="@L["required"]" ToStringFunc="@(e=>e==null?"":e.usT_userType)" 
                            Validation="@(new Func<UserTypesInfo, string>((e)=>e.ValidateField<UserTypesInfo>("usT_ID")))"
                            Value="@(new UserTypesInfo{usT_ID=SelectedUser.peo_UserTypeID,usT_userType=combos.UserTypes.SelectByID<UserTypesInfo>(SelectedUser.peo_UserTypeID,"usT_ID").usT_userType})" 
                                ValueChanged="OnSelectedUserTypeChange"
                                Margin="@Margin.Dense" T="UserTypesInfo" Label=@L["user-type"] Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var item in combos.UserTypes)
                            {
                            <MudSelectItem T="UserTypesInfo" Value="@item">@item.usT_userType</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                        <MudSelect OnlyValidateIfDirty="true" Required="true" RequiredError="@L["required"]" ToStringFunc="@(e=>e==null?"":e.lang_Name)" 
                            Value="@(new LanguageInfo{lang_ID=SelectedUser.peo_Language,lang_Name=combos.Languages.SelectByID<LanguageInfo>(SelectedUser.peo_Language,"lang_ID").lang_Name})" 
                                Validation="@(new Func<LanguageInfo, string>((e)=>e.ValidateField<LanguageInfo>("lang_ID")))"
                                ValueChanged="OnSelectedLanguageChange"
                                Margin="@Margin.Dense" T="LanguageInfo" Label="@L["language"]" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var item in combos.Languages)
                            {
                            <MudSelectItem T="LanguageInfo" Value="@item">@item.lang_Name</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                    @* @if(SelectedUser.peo_UserTypeID==1 || SelectedUser.peo_UserTypeID==2){ *@
                         @* Required="true" *@
                         @* Validation="@(new Func<DirectorateInfo, string>((e)=>e.ValidateField<DirectorateInfo>("peo_DirectorateID")))" *@
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                        <MudAutocomplete T="DirectorateInfo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchDirectorate"
                         Clearable="true"
                         OnlyValidateIfDirty="true"
                         ResetValueOnEmptyText="true"
                         Value="@(new DirectorateInfo(){peo_DirectorateName=SelectedUser.peo_DirectorateName,peo_DirectorateID=SelectedUser.peo_DirectorateID})"
                         Text="@SelectedUser.peo_DirectorateName"
                         ValueChanged="@(async(e)=>await OnDirectorateChange(e))"
                         ToStringFunc="@(e=>e==null?"":e.peo_DirectorateName)"
                         CoerceText="@true"
                         CoerceValue="true"
                         Label=@L["directory"]
                         Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small" />
                    </div>
                    @* } *@
                    @* @if(SelectedUser.peo_UserTypeID==2){ *@
                         @* Required="true" *@
                         @* Validation="@(new Func<WorkingPointInfo, string>((e)=>e.ValidateField<WorkingPointInfo>("wp_ID")))" *@
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                        <MudAutocomplete T="WorkingPointInfo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchWorkpoint"
                         Clearable="true"
                         OnlyValidateIfDirty="true"
                         ResetValueOnEmptyText="true"
                         Value="@(new WorkingPointInfo(){wp_workpointName=SelectedUser.wp_workpointName,wp_ID=SelectedUser.peo_UserWorkPoint})"
                         Text="@SelectedUser.wp_workpointName"
                         ValueChanged="OnWorkpointChange"
                         ToStringFunc="@(e=>e==null?"":e.wp_workpointName)"
                         CoerceText="@true"
                         CoerceValue="true"
                         Label=@L["workplace"]
                         Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small" />
                    </div>
                    @* } *@
                    <div class="col-12">
                        <MudField Class="dense-true" Margin="Margin.Dense" Variant="Variant.Outlined">
                            <MudCheckBox Size="Size.Small" Label="@L["active"]" @bind-Checked="SelectedUser.peo_UserActive" Color="Color.Primary"></MudCheckBox>
                        </MudField>
                    </div>
                    <div class="col-12">
                        <MudDivider/>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <MudButton Class="me-2" Href="@Routing.userlist" StartIcon="@Icons.Material.Filled.Cancel" IconColor="Color.Error" Variant="Variant.Filled">Cancel</MudButton>
                        <MudButton OnClick="@InsertUpdateUser" StartIcon="@Icons.Material.Filled.Save" Variant="Variant.Filled" Color="Color.Primary">Save</MudButton>
                    </div>
                </div>
                </MudForm>
            </MudTabPanel>
            @if(SelectedUser.peo_UserID>0){
            <MudTabPanel Text="@L["roles"]">
                <div class="row g-3 m-0 w-100">
                    <MudForm @ref="AddGroupForm" Class="row g-3 m-0 w-100">
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                        <MudAutocomplete DebounceInterval="ClS_Config.debounce"
                        ResetValueOnEmptyText="true"
                        CoerceText="@true"
                        CoerceValue="true"
                        Clearable="true"
                        Text="@SelectedGroup.group_Name"
                        Value="@(new GroupInfo{group_ID=SelectedGroup.group_ID,group_Name=SelectedGroup.group_Name})"
                        ValueChanged="OnGroupChange"
                        Validation="@(new Func<GroupInfo, string>((e)=>e.ValidateField<GroupInfo>("group_ID")))"
                        ToStringFunc="@(e=>e==null?"":e.group_Name)"
                        T="GroupInfo"
                        Label=@L["roles"]
                        Required="true" 
                        OnlyValidateIfDirty="true"
                        SearchFunc="SearchGroups"
                        Margin="@Margin.Dense" 
                        Dense="true" 
                        Variant="Variant.Outlined"/>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2 pt-1">
                        <MudIconButton OnClick="InsertUpdateGroup" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary"/>
                    </div>
                    </MudForm>
                    <div class="col-12">
                        <MudTable Dense="true" T="GroupInfo" Elevation="0" Items="@(combos.Groups.Where(x=>x.HasRole==1))" Hover="true" Breakpoint="Breakpoint.Sm">
                            <HeaderContent>
                                    <MudTh>@L["name"]</MudTh>
                                <MudTh></MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Nr">@context.group_Name</MudTd>
                                <MudTd Class="text-end">
                                    <MudIconButton OnClick="@(async()=>await DeleteGroup(context.per_ID))" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Text" Color="Color.Error"/>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </div>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@L["privileges"]">
                <div class="row g-3 m-0 w-100">
                    <MudForm @ref="AddPrivilageForm" Class="row g-3 m-0 w-100">
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                    <MudAutocomplete DebounceInterval="ClS_Config.debounce"
                        ResetValueOnEmptyText="true"
                        CoerceText="true"
                        CoerceValue="true"
                        Clearable="true"
                        Text="@SelectedPrivilage.dap_Name"
                        Value="@(new DataAccessPermissions{dap_ID=SelectedPrivilage.dap_ID,dap_Name=SelectedPrivilage.dap_Name})"
                        ValueChanged="OnPrivilageChange"
                        Validation="@(new Func<DataAccessPermissions, string>((e)=>e.ValidateField<DataAccessPermissions>("dap_ID")))"
                        ToStringFunc="@(e=>e==null?"":e.dap_Name)"
                        T="DataAccessPermissions"
                        Label=@L["privilege"]
                        Required="true" 
                        OnlyValidateIfDirty="true"
                        SearchFunc="SearchPrivilages"
                        Margin="@Margin.Dense" 
                        Dense="true" 
                        Variant="Variant.Outlined"/>                    
                        </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2 pt-1">
                        <MudIconButton OnClick="InsertUpdatePrivilage" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary"/>
                    </div>
                    </MudForm>
                    <div class="col-12">
                        <MudTable Dense="true" T="DataAccessPermissions" Elevation="0" Items="@(combos.Permissions.Where(x=>x.HasRole==1))" Hover="true" Breakpoint="Breakpoint.Sm">
                            <HeaderContent>
                                    <MudTh>@L["name"]</MudTh>
                                <MudTh></MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Nr">@context.dap_Name</MudTd>
                                <MudTd Class="text-end">
                                        <MudIconButton OnClick="@(async()=>await DeletePrivilage(context.per_ID))" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Text" Color="Color.Error" />
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </div>
                </div>
            </MudTabPanel>
            <MudTabPanel Text="@L["workplaces"]">
                 <div class="row g-3 m-0 w-100">
                    <MudForm @ref="AddWorkpointForm" Class="row g-3 m-0 w-100">
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                        <MudAutocomplete T="WorkingPointInfo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchWorkpointPerUser"
                         Clearable="true"
                         OnlyValidateIfDirty="true"
                         ResetValueOnEmptyText="true"
                         Required="true"
                         Validation="@(new Func<WorkingPointInfo, string>((e)=>e.ValidateField<WorkingPointInfo>("wp_ID")))"
                         Value="@(new WorkingPointInfo(){wp_workpointName=SelectedUserWorkpoint.peo_DirectorateName,wp_ID=SelectedUserWorkpoint.wp_ID})"
                         Text="@SelectedUserWorkpoint.wp_workpointName"
                         ValueChanged="OnUserWorkpointChange"
                         ToStringFunc="@(e=>e==null?"":e.wp_workpointName)"
                         CoerceText="@true"
                         CoerceValue="true"
                         Label=@L["workplace"]
                         Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small" />
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 col-xxl-2 pt-1">
                        <MudIconButton OnClick="InsertUpdateUserWorkpoint" Icon="@Icons.Material.Filled.Add" Variant="Variant.Filled" Color="Color.Primary"/>
                    </div>
                    </MudForm>
                    <div class="col-12">
                        <MudTable Dense="true" T="WorkingPointInfo" Elevation="0" Items="@(combos.WorkingPoints.Where(x=>x.HasRole==1))" Hover="true" Breakpoint="Breakpoint.Sm">
                            <HeaderContent>
                                            <MudTh>@L["name"]</MudTh>
                                <MudTh></MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="Nr">@context.wp_workpointName</MudTd>
                                <MudTd Class="text-end">
                                        <MudIconButton OnClick="@(async()=>await DeleteUserWorkpoint(context.wp_ID))" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Text" Color="Color.Error" />
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                    </div>
                 </div>
            </MudTabPanel>
            }
        </MudTabs>
    </div>
</div>
</AuthView>
}