@inject IStringLocalizer<App> L;
@page "/roles"

@if (config != null)
{
    <AuthView Roles="session" PermissionName="@Routing.roles">

    <div class="row gy-3 gx-2">
        <div class="col-12">
                <h4>@L["roles"]</h4>
        </div>
        <MudDivider />
        <MudPaper Class="p-3 w-100 mt-4 m-0 row g-3">

           @* <MudForm @ref="AddForm">
                <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
                    <MudTextField Required="true" Margin="@Margin.Dense" ErrorText="@L["required"]" Dense="true" @bind-Value="SelectedGroup.group_Name" Label="Name" Variant="Variant.Outlined"></MudTextField>
                </div>

                  
                <div class="col-12 col-md-4 col-lg-3 col-xxl-2 pt-1">
                    <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(async()=>await InsertUpdateGroup())" Variant="Variant.Filled" Color="Color.Primary" />
                </div>
                <div class="col-12 d-flex">
                </div>

            </MudForm>*@

             <div class="col-12 d-flex">
            <MudButton @onclick="@(async()=> await AddRoleModal(0))" StartIcon="@Icons.Filled.HealthAndSafety" Variant="Variant.Filled" Color="Color.Primary"> @L["add-role"]</MudButton>
            </div>
            <div class="col-12">
                <MudTable @ref="@tableRef" Outlined="true" Elevation="0"
                      ServerData="@(new Func<TableState,Task<TableData<GroupInfo>>>(GetPaginatedGroups))"
                      TotalItems="PaginatedGroups.TotalItems" Items="@PaginatedGroups.Items" T="GroupInfo" Dense="true">

                    <HeaderContent>
                       
                        <MudTh>
                            <MudTableSortLabel SortLabel="group_Name" SortBy="new Func<GroupInfo, object>(x=>x.group_Name.ToEmptyOnNull())">
                                    @L["name"]
                            </MudTableSortLabel>
                        </MudTh>
                        <MudTh></MudTh>

                    </HeaderContent>

                    <RowTemplate>
                     
                        <MudTd DataLabel="">@context.group_Name</MudTd>
                       
                        <MudTd Class="text-end">
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Text" OnClick="@(async()=> await AddRoleModal(context.group_ID))" Color="Color.Primary" />
                        </MudTd>
                      
                    </RowTemplate>


                    <PagerContent>
                        <MudTablePager />
                    </PagerContent>

                </MudTable>
            </div>
        </MudPaper>
    </div>
    </AuthView>
}

