@page "/users"

<div class="row gx-2 gy-3">
    <div class="col-12">
        <h4>Users</h4>
    </div>
    <MudDivider />
    <div class="col-12 d-flex">
        <MudButton OnClick="@(()=>nav.NavigateTo(Go.To(Routing.adduser,0)))" StartIcon="@Icons.Material.Filled.PersonAdd"
            Variant="Variant.Filled" Color="Color.Primary">Add User</MudButton>
    </div>
    <div class="col-12">
        <MudTable @ref="table" Outlined="true" Elevation="0"
            ServerData="@(new Func<TableState,Task<TableData<UserInfo>>>(GetPaginatedUsers))"
            TotalItems="PaginatedUsers.TotalItems" Items="@PaginatedUsers.Items" T="UserInfo" Dense="true"
            Hover="true" CanCancelEdit="true" @bind-SelectedItem="SelectedUser" SortLabel="Sort By">
            <ToolBarContent>
                <MudText Typo="Typo.h6">Users</MudText>
                <MudSpacer />
                <MudTextField DebounceInterval="ClS_Config.debounce" OnDebounceIntervalElapsed="@(async(e)=>await OnSearch(e.ToEmptyOnNull()))" @bind-Value="FilterUser.peo_UserName" Placeholder="Search Full Name" Adornment="Adornment.Start"
                    AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>
                    <MudTableSortLabel SortLabel="peo_UserName" SortBy="new Func<UserInfo, object>(x=>x.peo_UserName.ToEmptyOnNull())">Username
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="peo_userFullName" SortBy="new Func<UserInfo, object>(x=>x.peo_userFullName.ToEmptyOnNull())">Full
                        Name</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="peo_UserMobile"
                        SortBy="new Func<UserInfo, object>(x=>x.peo_UserMobile.ToEmptyOnNull())">Mobile
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="usT_userType" SortBy="new Func<UserInfo, object>(x=>x.usT_userType.ToEmptyOnNull())">User Type
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="peo_DirectorateName" SortBy="new Func<UserInfo, object>(x=>x.peo_DirectorateName.ToEmptyOnNull())">
                        Directorate Name</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="wp_workpointName" SortBy="new Func<UserInfo, object>(x=>x.wp_workpointName.ToEmptyOnNull())">
                        Workpoint Name</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="peo_createdDate"  SortBy="new Func<UserInfo, object>(x=>x.peo_createdDate)">Created Date
                    </MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortLabel="peo_UserActive" SortBy="new Func<UserInfo, object>(x=>x.peo_UserActive)">Active
                    </MudTableSortLabel>
                </MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="">
                    <MudLink Underline="Underline.Always" Href="@(Go.To(Routing.adduser,context.peo_UserID))">@context.peo_UserName</MudLink>
                </MudTd>
                <MudTd DataLabel="">@context.peo_userFullName</MudTd>
                <MudTd DataLabel="">@context.peo_UserMobile</MudTd>
                <MudTd DataLabel="">@context.usT_userType</MudTd>
                <MudTd DataLabel="">@context.peo_DirectorateName</MudTd>
                <MudTd DataLabel="">@context.wp_workpointName</MudTd>
                <MudTd DataLabel="">@context.peo_createdDate</MudTd>
                <MudTd DataLabel="">@context.peo_UserActive</MudTd>
            </RowTemplate>

            <RowEditingTemplate>
                <MudTd>@context.peo_UserName</MudTd>
                <MudTd>@context.peo_userFullName</MudTd>
                <MudTd>@context.peo_UserMobile</MudTd>
                <MudTd>@context.usT_userType</MudTd>
                <MudTd>@context.peo_DirectorateName</MudTd>
                <MudTd>@context.wp_workpointName</MudTd>
                <MudTd>@context.peo_createdDate</MudTd>
                <MudTd>@context.peo_UserActive</MudTd>
            </RowEditingTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
            <EditButtonContent Context="button">
                <MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Edit" Class="pa-0"
                    OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
            </EditButtonContent>
        </MudTable>
    </div>
</div>
