@inject IStringLocalizer<App> L

@{
    @if (NotFirstTime)
    {
    ParentID = BreadCrumbList.Items.Where(x => x.ID == ParentID).Select(x => x.ParentID).FirstOrDefault();
        
    }
    @if(ParentID>0)
    {

           <BreadCrumbFun ParentID=ParentID FindPageResult=FindPageResult NotFirstTime=true></BreadCrumbFun>
    }
    @if(BreadCrumbList.Items.Where(x=>x.ID == ParentID).Select(x => x.ID).FirstOrDefault() == FindPageResult)
    {
        //The Active Page
        <MudInputLabel>@BreadCrumbList.Items.Where(x => x.ID == ParentID).Select(x => x.Name.ToEmptyOnNull()).First()</MudInputLabel>
        BreadCrumbResult.items.Prepend(new BreadcrumbItem(@L[BreadCrumbList.Items.Where(x => x.ID == ParentID).Select(x => x.Name.ToEmptyOnNull()).First()], href: null, disabled: true));
        //<li class="breadcrumb-item active" aria-current="page">@L[BreadCrumbList.Items.Where(x=>x.ID == ParentID ).Select(x=>x.Name.ToEmptyOnNull()).First()]</li>
        
    }else{
        //Parent Pages
        <MudInputLabel>@BreadCrumbList.Items.Where(x => x.ID == ParentID).Select(x => x.Name.ToEmptyOnNull()).First()</MudInputLabel>
        BreadCrumbResult.items.Prepend(new BreadcrumbItem(@L[BreadCrumbList.Items.Where(x => x.ID == ParentID).Select(x => x.Name.ToEmptyOnNull()).First()], href: @BreadCrumbList.Items.Where(x=>x.ID == ParentID ).Select(x=>x.Path).FirstOrDefault()));
        //<li class="breadcrumb-item"><a href="@BreadCrumbList.Items.Where(x=>x.ID == ParentID ).Select(x=>x.Path).FirstOrDefault()">@L[BreadCrumbList.Items.Where(x=>x.ID == ParentID ).Select(x=>x.Name.ToEmptyOnNull()).First()]</a></li>
        
    }
    
    
}


@code {
    [Parameter]
    public int ParentID { get; set; }
    [Parameter]
    public int FindPageResult { get; set; }
    [Parameter]
    public bool NotFirstTime { get; set; }

}
