@page "/changepassword"
@inject IStringLocalizer<App> L

<PageTitle>@L["change-password"]</PageTitle>

<div class="row">
    <div class="col-12 col-lg-4 offset-lg-4 my-lg-5">
        <MudPaper>
            <EditForm class="d-flex flex-column p-3 mt-lg-5 mb-lg-0 pt-5 pb-lg-3" Model=password OnValidSubmit=@(async()=> {await InsertUpdateChangePassword();}) autocomplete="off">
            <MudText Typo="Typo.body1">
                @L["change-password"]
            </MudText>
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <MudTextField Class="mt-3" autocomplete="new-password" InputType="InputType.Password" Margin="@Margin.Dense" Variant="Variant.Outlined" @bind-Value="password.OldPassword" Label="@L["old-password"]"></MudTextField>
                <ValidationMessage class="mb-3" For=@(()=> password.OldPassword)></ValidationMessage>

                <MudTextField Class="mt-3" autocomplete="new-password" InputType="InputType.Password" Margin="@Margin.Dense" Variant="Variant.Outlined" @bind-Value="password.NewPassword" Label="@L["new-password"]"></MudTextField>

                <ValidationMessage class="mb-3" For=@(()=> password.NewPassword)></ValidationMessage>

                <MudTextField Class="mt-3" autocomplete="new-password" InputType="InputType.Password" Margin="@Margin.Dense" Variant="Variant.Outlined" @bind-Value="password.verifyPassword" Label="@L["verify-password"]"></MudTextField>

                <ValidationMessage class="mb-3" For=@(()=> password.verifyPassword)></ValidationMessage>

                <MudButton Class="mt-3" ButtonType="ButtonType.Submit"  Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">@L["change-password"]</MudButton>
            </EditForm>
            </MudPaper>

    </div>
</div>
@*<div class="row">
    <div class="col-12 col-lg-4 offset-lg-4 my-lg-5">
        <MudPaper>
            <EditForm class="d-flex flex-column p-3 my-lg-5 py-5" Model="this">
                <MudText Typo="Typo.body1">
                    Change Password.
                </MudText>
                <MudTextField Class="mt-3" Required Margin="@Margin.Dense" @bind-Value="username" Label="Old Password" Variant="Variant.Outlined"></MudTextField>
                <MudTextField Class="mt-3" Required Margin="@Margin.Dense" @bind-Value="password" Label="New Password" Variant="Variant.Outlined"></MudTextField>
                <MudTextField Class="mt-3" Required Margin="@Margin.Dense" @bind-Value="password" Label="Re-write Password" Variant="Variant.Outlined"></MudTextField>
                <MudButton Class="mt-3" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">Change</MudButton>
            </EditForm>
        </MudPaper>
    </div>
</div>*@