@page "/changepassword"
@inject IStringLocalizer<App> L

<PageTitle>@L["change-password"]</PageTitle>

<div class="row py-5 gx-0">
    <div class="col-lg-3 col-xl-4 d-lg-block d-sm-none"></div>
    <div class="col-sm-12 col-lg-6 col-xl-4 my-5">

        <fluent-card class="p-3">
            <img width="100%" class="p-5 fit-contain" src="img/loginlogo.png" alt="">
            <h4>@L["change-password"]</h4>
            <EditForm Model=password OnValidSubmit=@(async()=> {await InsertUpdateChangePassword();}) autocomplete="off">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <MudTextField autocomplete="new-password" InputType="InputType.Password" Margin="@Margin.Dense" Variant="Variant.Outlined" @bind-Value="password.OldPassword" Label="@L["old-password"]"></MudTextField>
                <ValidationMessage class="mb-3" For=@(()=> password.OldPassword)></ValidationMessage>

                                <MudTextField autocomplete="new-password" InputType="InputType.Password" Margin="@Margin.Dense" Variant="Variant.Outlined" @bind-Value="password.NewPassword" Label="@L["new-password"]"></MudTextField>

                <ValidationMessage class="mb-3" For=@(()=> password.NewPassword)></ValidationMessage>

                                <MudTextField autocomplete="new-password" InputType="InputType.Password" Margin="@Margin.Dense" Variant="Variant.Outlined" @bind-Value="password.verifyPassword" Label="@L["verify-password"]"></MudTextField>

                <ValidationMessage class="mb-3" For=@(()=> password.verifyPassword)></ValidationMessage>

                <div class="w-100 border-top border-secondary my-3"></div>
                                    <MudButton Class="mt-3" ButtonType="ButtonType.Submit"  Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">@L["change-password"]</MudButton>


            </EditForm>

        </fluent-card>
    </div>
    <div class="col-lg-3 col-lg-4 d-xl-block d-sm-none"></div>
</div>