@layout EmptyLayout
@page "/"
@inject IStringLocalizer<App> L
@if (mgmt != null)
{
    <PageTitle>@L["login"]</PageTitle>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-4 offset-lg-4 my-lg-5">
                <MudPaper>
                    <EditForm class="d-flex flex-column p-3 my-lg-5 py-5" Model="Credentials" OnValidSubmit=@(async()=>await login())>
                        <MudText Typo="Typo.body1">
                            @L["login"]
                        </MudText>
                        <MudTextField Class="mt-3" Required Margin="@Margin.Dense" @bind-Value="Credentials.UserName" Label="@L["name"]" Variant="Variant.Outlined"></MudTextField>
                        <ValidationMessage For=@(()=>Credentials.UserName)></ValidationMessage>

                        <MudTextField Class="mt-3" Required Margin="@Margin.Dense" @bind-Value="Credentials.Password" InputType="InputType.Password" Label="@L["password"]" Variant="Variant.Outlined"></MudTextField>
                        <ValidationMessage For=@(()=>Credentials.Password)></ValidationMessage>

                        <MudButton Class="mt-3" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large">@L["login"]</MudButton>
                    </EditForm>

                </MudPaper>
            </div>
        </div>
    </div>
}
@*<div class="row py-5 gx-0">
    <div class="col-sm-12 col-lg-6 col-xl-4 my-5">
        <form class="p-3">
            <h4>@L["login"]</h4>

            <EditForm Model=Credentials OnValidSubmit=@(async()=>await login())>
                <DataAnnotationsValidator></DataAnnotationsValidator>

                <input class="w-100 mb-3" @bind=Credentials.UserName @bind:event="oninput"/>
                <ValidationMessage For=@(()=>Credentials.UserName)></ValidationMessage>

                <input class="w-100" type="password" @bind=Credentials.Password @bind:event="oninput" />
                <ValidationMessage For=@(()=>Credentials.Password)></ValidationMessage>

                <input appearance="accent" class="w-100" type="submit" />

            </EditForm>
        </form>
    </div>
</div>
*@