@inject IStringLocalizer<App> L;
<MudDialog ClassActions="px-5 pb-4">
    
    <DialogContent>
        <MudTabs @bind-ActivePanelIndex="SelectedTab" Elevation="0" Color="Color.Primary" Rounded="true" ApplyEffectsToContainer="true" PanelClass="py-3">
            <MudTabPanel Text="Hotel Informations">
                <MudForm @ref="AddHotelForm">
                <div class="row gy-3 gx-2">
                    <div class="col-12">
                        <MudTextField OnlyValidateIfDirty="true" Required="true" Margin="@Margin.Dense" @bind-Value="SelectedHotel.htl_Name" Label="@L["name"]" Variant="Variant.Outlined"></MudTextField>
                    </div>
                    <div class="col-12">
                        <MudSelect OnlyValidateIfDirty="true" Required="true" RequiredError="@L["required"]"
                        Validation="@(new Func<HotelTypesComboBox, string>((e)=>e.ValidateField<HotelTypesComboBox>("HTT_ID")))"
                             ToStringFunc="@(e=>e==null?"":e.HTT_Type)" 
                            Value="@(new HotelTypesComboBox{HTT_ID=SelectedHotel.htl_TypeID,HTT_Type=combos.HotelTypes.SelectByID<HotelTypesComboBox>(SelectedHotel.htl_TypeID,"HTT_ID").HTT_Type})"
                            ValueChanged="OnHotelTypeChange" 
                                Margin="@Margin.Dense" T="HotelTypesComboBox" Label="Hotel Type" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var item in combos.HotelTypes)
                            {
                            <MudSelectItem T="HotelTypesComboBox" Value="@item">@item.HTT_Type</MudSelectItem>
                            }
                        </MudSelect>                    
                    </div>
                    <div class="col-12">
                        <MudTextField OnlyValidateIfDirty="true" Required="true" Margin="@Margin.Dense" @bind-Value="SelectedHotel.htl_Address" Label="@L["full-address"]" Variant="Variant.Outlined" Lines="4"></MudTextField>
                    </div>
                    
                    <div class="col-12 col-lg-6">
                        <MudAutocomplete T="DirectorateInfo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchDirectorate"
                         Clearable="true"
                         Required="true"
                         OnlyValidateIfDirty="true"
                         ResetValueOnEmptyText="true"
                         Value="@(new DirectorateInfo(){peo_DirectorateName=SelectedHotel.peo_DirectorateName,peo_DirectorateID=SelectedHotel.htl_DirectorateID})"
                         Text="@SelectedHotel.peo_DirectorateName"
                         Validation="@(new Func<DirectorateInfo, string>((e)=>e.ValidateField<DirectorateInfo>("peo_DirectorateID")))"
                         ValueChanged="@(async(e)=>await OnDirectorateChange(e))"
                         ToStringFunc="@(e=>e==null?"":e.peo_DirectorateName)"
                         CoerceText="@true"
                         CoerceValue="true"
                         Label="Directorate"
                         Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small" />
                    </div>
                    <div class="col-12 col-lg-6">
                        <MudAutocomplete T="WorkingPointInfo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchWorkpoint"
                         Clearable="true"
                         Required="true"
                         OnlyValidateIfDirty="true"
                         ResetValueOnEmptyText="true"
                         Value="@(new WorkingPointInfo(){wp_workpointName=SelectedHotel.wp_workpointName,wp_ID=SelectedHotel.htl_WorkPointID})"
                         Text="@SelectedHotel.wp_workpointName"
                         Validation="@(new Func<WorkingPointInfo, string>((e)=>e.ValidateField<WorkingPointInfo>("wp_ID")))"
                         ValueChanged="OnWorkpointChange"
                         ToStringFunc="@(e=>e==null?"":e.wp_workpointName)"
                         CoerceText="@true"
                         CoerceValue="true"
                         Label="Workpoint"
                         Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small" />
                    </div>
                    <div class="col-12 col-lg-6">
                        <MudNumericField Required Margin="@Margin.Dense" @bind-Value="SelectedHotel.htl_NumberOfRooms" Label="@L["room-number"]" Variant="Variant.Outlined"></MudNumericField >
                    </div>
                    <div class="col-12">
                        <MudField Label="Stars" Margin="@Margin.Dense" Variant="Variant.Outlined">
                            <MudRating @bind-SelectedValue="SelectedHotel.htl_Star" />
                        </MudField>
                    </div>
                    <div class="col-12">
                        <MudTextField Margin="@Margin.Dense" @bind-Value="SelectedHotel.htl_Note" Label="@L["note"]" Variant="Variant.Outlined" Lines="4"></MudTextField>
                    </div>
                    <div class="col-12">
                        <MudDivider/>
                    </div>
                </div>
                </MudForm>
            </MudTabPanel>
            @if(SelectedHotel.htl_ID>0){
            <MudTabPanel Text="Admin Informations">
                <MudForm @ref="AddHotelUserForm" class="row gy-3 gx-2">
                    <div class="col-12">
                        <MudTextField Required="true" Margin="@Margin.Dense" @bind-Value="SelectedHotelUser.htlus_FullName" Label="Userame" Variant="Variant.Outlined"></MudTextField>
                    </div>
                    <div class="col-12">
                        <MudTextField Required="true" Margin="@Margin.Dense" @bind-Value="SelectedHotelUser.htlus_Name" Label="Full Name" Variant="Variant.Outlined"></MudTextField>
                    </div>
                    <div class="col-12">
                        <MudTextField Required="true" autocomplete="new-password" Margin="@Margin.Dense" @bind-Value="SelectedHotelUser.htlus_Password" Label="Password" InputType="InputType.Password" Variant="Variant.Outlined"></MudTextField>
                    </div>
                    <div class="col-12">
                       <MudSelect OnlyValidateIfDirty="true" Required="true" RequiredError="@L["required"]" ToStringFunc="@(e=>e==null?"":e.htlustype_Name)" 
                            Value="@(new HotelUserTypeComboBox{htlustype_ID=SelectedHotelUser.htlus_TypeID,htlustype_Name=AddUserCombos.HotelUserTypes.SelectByID<HotelUserTypeComboBox>(SelectedHotelUser.htlus_TypeID,"htlustype_ID").htlustype_Name})" 
                                Validation="@(new Func<HotelUserTypeComboBox, string>((e)=>e.ValidateField<HotelUserTypeComboBox>("htlustype_ID")))"
                                ValueChanged="OnSelectedHotelTypeChangeChange"
                                Margin="@Margin.Dense" T="HotelUserTypeComboBox" Label="Hotel User" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var item in AddUserCombos.HotelUserTypes)
                            {
                            <MudSelectItem T="HotelUserTypeComboBox" Value="@item">@item.htlustype_Name</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                    <div class="col-12">
                       <MudSelect OnlyValidateIfDirty="true" Required="true" RequiredError="@L["required"]" ToStringFunc="@(e=>e==null?"":e.lang_Name)" 
                            Value="@(new LanguageInfo{lang_ID=SelectedHotelUser.htlus_LanguageID,lang_Name=AddUserCombos.Languages.SelectByID<LanguageInfo>(SelectedHotelUser.htlus_LanguageID,"lang_ID").lang_Name})" 
                                Validation="@(new Func<LanguageInfo, string>((e)=>e.ValidateField<LanguageInfo>("lang_ID")))"
                                ValueChanged="OnSelectedLanguageChange"
                                Margin="@Margin.Dense" T="LanguageInfo" Label="Language" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var item in AddUserCombos.Languages)
                            {
                            <MudSelectItem T="LanguageInfo" Value="@item">@item.lang_Name</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                    <div class="col-12">
                        <MudField Class="dense-true" Margin="Margin.Dense" Variant="Variant.Outlined">
                            <MudCheckBox Size="Size.Small" Label="@L["active"]" @bind-Checked="SelectedHotelUser.htlus_Active" Color="Color.Primary"></MudCheckBox>
                        </MudField>
                    </div>
                    <div class="col-12">
                        <MudDivider/>
                    </div>
                </MudForm>
            </MudTabPanel>
            }
        </MudTabs>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@(()=>MudDialog.Cancel())">@L["cancel"]</MudButton>
        @if(SelectedTab==0){
        <MudButton Color="Color.Primary" OnClick="@(async()=>await InsertUpdateHotel())">@L["save"]</MudButton>
        }else if(SelectedTab==1){
        <MudButton Color="Color.Primary" OnClick="@(async()=>await InsertUpdateHotelUser())">@L["save"]</MudButton>
        }
    </DialogActions>
</MudDialog>
