@page "/Y29uZmlnTAVBS"
@inject IStringLocalizer<App> L;
@if(session!=null){
    <PageTitle>@L["configurations"]</PageTitle>

<AuthView Roles="session" PermissionName="@Routing.config">

<div class="row gy-3 gx-2">
    <div class="col-12">
                <h4>@L["configurations"]</h4>
    </div>
    <MudDivider />
    <div class="col-12">
        <MudTabs Elevation="2" PanelClass="px-3 pb-4 bg-white" Rounded="true" Color="@Color.Primary">
                    <MudTabPanel Text="@L["directory"]">
               <Directorate DB="DB" JSRuntime="jSRuntime" nav="nav" Toaster="Toaster"></Directorate>
            </MudTabPanel>
                    <MudTabPanel Text="@L["workplaces"]">
                <WorkingPoint DB="DB" JSRuntime="jSRuntime" nav="nav" Toaster="Toaster"></WorkingPoint>
            </MudTabPanel>    
            <MudTabPanel Text="@L["hoteltype"]">
                <HotelType DB="DB" JSRuntime="jSRuntime" nav="nav" Toaster="Toaster"></HotelType>
            </MudTabPanel>
        </MudTabs>
    </div>
</div>
        </AuthView>
}