@if(config!=null){
    <div class="row g-3 m-0 w-100">
        <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
            <MudTextField Required Margin="@Margin.Dense" Class="@(config.ValidateField(config.IsInValidated1,SelectedDirectorate.peo_DirectorateName))" Dense="true" @bind-Value="SelectedDirectorate.peo_DirectorateName" Label="Name" Variant="Variant.Outlined"></MudTextField>
        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xxl-2">

            <MudAutocomplete T="UserAutoCombo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchIncomes"
                         Clearable="true"
                         Required
                         ResetValueOnEmptyText="true"
                         Value="@(new UserAutoCombo(){peo_UserName=SelectedDirectorate.peo_UserName,peo_UserID=SelectedDirectorate.peo_dirAdminUserID})"
                         Text="@SelectedDirectorate.peo_UserName"
                         ValueChanged="@((e)=>OnIncomeChanged(e))"
                         ToStringFunc="@(e=>e==null?"":e.peo_UserName)"
                         CoerceText="@true"
                         Label="User"
                         Margin="@Margin.Dense" Dense="true" Variant="Variant.Outlined"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small"
                         Placeholder="User" Class="@(config.ValidateField(config.IsInValidated1,SelectedDirectorate.peo_dirAdminUserID))" />

        </div>
        <div class="col-12 col-md-4 col-lg-3 col-xxl-2 pt-1">
            <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(async()=>await InsertUpdateDirectorate())" Variant="Variant.Filled" Color="Color.Primary" />
        </div>
        <div class="col-12">

            <MudTable @ref="@tableRef" Outlined="true" Elevation="0"
                  ServerData="@(new Func<TableState,Task<TableData<DirectorateInfo>>>(ServerReload))"
                  TotalItems="PaginatedDirectorate.TotalItems" Items="@PaginatedDirectorate.Items" T="DirectorateInfo" Dense="true"
                >
               @* <ToolBarContent>
                    <MudText Typo="Typo.h6">Directorate</MudText>
                    <MudSpacer />
                    <MudTextField @bind-Value="Filter.peo_DirectorateName" Placeholder="Search" Adornment="Adornment.Start"
                              AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
                </ToolBarContent>*@
                <HeaderContent>
                    <MudTh>
                        <MudTableSortLabel SortLabel="peo_DirectorateName" SortBy="new Func<DirectorateInfo, object>(x=>x.peo_DirectorateName.ToEmptyOnNull())">
                            Directorate
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh>
                        <MudTableSortLabel SortLabel="peo_UserName" SortBy="new Func<DirectorateInfo, object>(x=>x.peo_UserName.ToEmptyOnNull())">
                          Name
                        </MudTableSortLabel>
                    </MudTh>
                    <MudTh></MudTh>

                </HeaderContent>

                <RowTemplate>
                    <MudTd DataLabel="">
                        @context.peo_DirectorateName
                    </MudTd>
                    <MudTd DataLabel="">@context.peo_UserName</MudTd>
                    <MudTd Class="text-end">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Text" OnClick="@(async()=> await GetDirectorateByID(context.peo_DirectorateID))"  Color="Color.Error" />
                    </MudTd>
                </RowTemplate>

            @*    <RowEditingTemplate>
                    <MudTd>@context.peo_DirectorateName</MudTd>
                    <MudTd>@context.peo_UserName</MudTd>
                  
                </RowEditingTemplate>*@
                <PagerContent>
                    <MudTablePager />
                </PagerContent>
              @*  <EditButtonContent Context="button">
                    <MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Edit" Class="pa-0"
                               OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
                </EditButtonContent>*@
            </MudTable>
         
        </div>
    </div>
}
