@inject IStringLocalizer<App> L
<div class="row g-3 m-0 w-100">
    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
        <MudTextField Required Margin="@Margin.Dense" Class="@(config.ValidateField(config.IsInValidated1,SelectedDirectorate.peo_DirectorateName))" Dense="true" @bind-Value="SelectedDirectorate.peo_DirectorateName" Label="Name" Variant="Variant.Outlined"></MudTextField>
    </div>
    <div class="col-12 col-md-4 col-lg-3 col-xxl-2">
        <MudAutocomplete T="UserAutoCombo" DebounceInterval="ClS_Config.debounce"
                         SearchFunc="@SearchIncomes"
                         Clearable="true"
                         ResetValueOnEmptyText="true"
                         Value="@(new UserAutoCombo(){peo_UserName=SelectedDirectorate.peo_UserName,peo_UserID=SelectedDirectorate.peo_dirAdminUserID})"
                         Text="@SelectedDirectorate.peo_UserName"
                         ValueChanged="@((e)=>OnIncomeChanged(e))"
                         ToStringFunc="@(e=>e==null?"":e.peo_UserName)"
                         CoerceText="@true"
                         AdornmentIcon="@Icons.Material.Rounded.KeyboardArrowDown" IconSize="Size.Small"
                         Placeholder="@L["income-type"]" Class="@(config.ValidateField(config.IsInValidated1,SelectedDirectorate.peo_dirAdminUserID))" />

    </div>
    <div class="col-12 col-md-4 col-lg-3 col-xxl-2 pt-1">
        <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="@(async()=>await InsertUpdateDirectorate())" Variant="Variant.Filled" Color="Color.Primary" />
    </div>
    <div class="col-12">
       @* <MudTable Dense="true" Elevation="0" Items="@Elements.Take(4)" Hover="true" Breakpoint="Breakpoint.Sm">
            <HeaderContent>
                <MudTh>Nr</MudTh>
                <MudTh>Sign</MudTh>
                <MudTh>Name</MudTh>
                <MudTh>Position</MudTh>
                <MudTh>Molar mass</MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nr">@context.Number</MudTd>
                <MudTd DataLabel="Sign">@context.Sign</MudTd>
                <MudTd DataLabel="Name">@context.Name</MudTd>
                <MudTd DataLabel="Position">@context.Position</MudTd>
                <MudTd DataLabel="Molar mass">@context.Molar</MudTd>
                <MudTd Class="text-end">
                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Text" Color="Color.Error" />
                </MudTd>
            </RowTemplate>
        </MudTable>*@
    </div>
</div>