@inject IStringLocalizer<App> L;
@page "/Hotels"
<PageTitle>@L["hotel-list"]</PageTitle>

@if(config!=null && session!=null){
    <AuthView Roles="session" PermissionName="@Routing.hotels">

<div class="row gx-2 gy-3">
    <div class="col-12">
        <h4>@L["hotel-list"]</h4>
    </div>
    <MudDivider/>
    <div class="col-12 d-flex">
        <MudButton OnClick="@(async()=>await OpenDialog(0))" StartIcon="@Icons.Material.Filled.DomainAdd" Variant="Variant.Filled" Color="Color.Primary">@L["add-hotel"]</MudButton>
    </div>
    <div class="col-12">
        <MudTable @ref="table" ServerData="@(new Func<TableState,Task<TableData<HotelsInfo>>>(GetPaginatedItems))" T="HotelsInfo" 
            Outlined="true" Elevation="0" Dense="true" Hover="true">
            <ToolBarContent>
                <MudText Typo="Typo.h6">@L["hotel-list"]</MudText>
                <MudSpacer />
                <MudSpacer />
                <MudSpacer />
                <MudSpacer />
                <MudTextField DebounceInterval="ClS_Config.debounce" OnDebounceIntervalElapsed="OnSearch"
                     @bind-Value="Filter.htl_Name" Variant="Variant.Outlined" Margin="Margin.Dense" Placeholder="@L["search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            </ToolBarContent>
            <HeaderContent>
                <MudTh><MudTableSortLabel SortLabel="peo_userFullName" SortBy="new Func<HotelsInfo, object>(x=>x.htl_Address.ToEmptyOnNull())">@L["name"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="usT_userType" SortBy="new Func<HotelsInfo, object>(x=>x.HTT_Type.ToEmptyOnNull())">@L["type"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="htl_Address" SortBy="new Func<HotelsInfo, object>(x=>x.htl_Address.ToEmptyOnNull())">@L["address"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="htl_Star" SortBy="new Func<HotelsInfo, object>(x=>x.htl_Star)">@L["stars"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortLabel="htl_EntryByName" SortBy="new Func<HotelsInfo, object>(x=>x.htl_EntryByName.ToEmptyOnNull())">@L["entry-by"]</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortLabel="htl_EntryDate" SortBy="new Func<HotelsInfo, object>(x=>x.htl_EntryDate.ToyyyyMMddElseEmpty())">@L["entry-date"]</MudTableSortLabel></MudTh>
                <MudTh></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd><MudLink Underline="Underline.Always" @onclick="@(async()=>await OpenDialog(context.htl_ID))">@context.htl_Name</MudLink></MudTd>
                <MudTd>@context.HTT_Type</MudTd>
                <MudTd>@context.htl_Address</MudTd>
                <MudTd DataLabel="Sign"><MudRating ReadOnly="true" SelectedValue="@context.htl_Star" /></MudTd>
                <MudTd>@context.htl_EntryByName</MudTd>
                <MudTd>@context.htl_EntryDate.ToddMMyyyyhhmmsstt()</MudTd>
                <MudTd Class="text-end"><MudIconButton @onclick="@(()=>OpenUsersModal(context.htl_ID))" Icon="@Icons.Filled.SupervisedUserCircle" Color="Color.Primary"></MudIconButton></MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager />
            </PagerContent>
            <EditButtonContent Context="button">
                <MudIconButton Size="@Size.Small" Icon="@Icons.Outlined.Edit" Class="pa-0" OnClick="@button.ButtonAction" Disabled="@button.ButtonDisabled" />
            </EditButtonContent>
        </MudTable>
    </div>
</div>
    </AuthView>

}